.imagem-logo{
    margin: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
    width: 150px;
    text-align: right;
}

.texto-logo{
    margin: 30px 0px 0px -25px;
    border: 0px 0px 0px 0px;
    pading: 50px 0px 0px 0px;
    font-size: 45px;
    font-

}
